In [5]:
import rspace_client
import pandas as pd
import os
P85="https://pangolin8085.researchspace.com"
API_KEY="UEE2WAODi7KYVKCk2OrWhPCkWTpxP95o" ## dcopper
api = rspace_client.Client(P85, API_KEY)

doc = api.get_document(31577)
html = doc['fields'][0]['content']
## this gets a calculation table 
datatables = rspace_client.FieldContent(html).get_datatables()[0]

df = pd.DataFrame(datatables)

In [6]:
df.head()

          0          1    2    3
0       Car  Cylinders   HP  mpg
1      Ford          2   45   45
2  Vauxhall          6  235   34
3     Skoda          6  170   41
4  Mercedes          8  340   25

In [7]:
output = df.describe().to_html()
html = html + output
api.update_document(31577, fields=[{'content': html}])

{'id': 31577,
 'globalId': 'SD31577',
 'name': 'Analysis of transformation T1234 with pBr456',
 'created': '2021-06-07T14:28:08.587Z',
 'lastModified': '2021-06-09T14:04:14.712Z',
 'parentFolderId': 6424,
 'signed': False,
 'tags': 'projectABC',
 'form': {'id': 32772,
  'globalId': 'FM32772',
  'stableId': '1389376462449null',
  'version': 0,
  'name': 'Basic Document',
  'tags': None,
  'formState': 'PUBLISHED',
  'accessControl': {'ownerPermissionType': 'WRITE',
   'groupPermissionType': 'NONE',
   'worldPermissionType': 'READ'},
  'iconId': -1,
  '_links': [{'link': 'https://pangolin8085.researchspace.com/api/v1/forms/32772',
    'rel': 'self'}]},
 'owner': {'id': 753665,
  'username': 'dcopper',
  'email': 'ra22597@gmail.com',
  'firstName': 'David2',
  'lastName': 'Copperfield',
  'homeFolderId': 6424,
  '_links': []},
 'fields': [{'id': 40796160,
   'globalId': 'FD40796160',
   'name': 'Data',
   'lastModified': '2021-06-09T14:04:14.712Z',
   'type': 'text',
   'definition': None,
   'columnIndex': 0,
   'content': '<p>Raw data from spectro:</p> \n<div class="attachmentDiv mceNonEditable"> <a href="/Streamfile/31576" target="_blank" rel="noopener"> <img class="attachmentIcon" src="/image/docThumbnail/31576/none" width="32" height="32" /> </a> \n <p class="attachmentP"><a id="attachOnText_31576" class="attachmentLinked" href="/Streamfile/31576" target="_blank" rel="noopener" data-type="Documents">ExampleInstrumentData.csv</a></p> \n <div id="attachmentInfoDiv_31576" class="attachmentInfoDiv"> \n  <img class="attachmentInfoIcon" src="/images/getInfo12.png" /> \n </div> \n</div> \n<div class="rsCalcTableDiv mceNonEditable" data-tabledata="{&quot;data&quot;:[[&quot;Car&quot;,&quot;Cylinders&quot;,&quot;HP&quot;,&quot;mpg&quot;,null,null,null,null,null,null,null,null],[&quot;Ford&quot;,&quot;2&quot;,&quot;45&quot;,&quot;45&quot;,null,null,null,null,null,null,null,null],[&quot;Vauxhall&quot;,&quot;6&quot;,&quot;235&quot;,&quot;34&quot;,null,null,null,null,null,null,null,null],[&quot;Skoda&quot;,&quot;6&quot;,&quot;170&quot;,&quot;41&quot;,null,null,null,null,null,null,null,null],[&quot;Mercedes&quot;,&quot;8&quot;,&quot;340&quot;,&quot;25&quot;,null,null,null,null,null,null,null,null],[&quot;Ferrari&quot;,&quot;12&quot;,&quot;600&quot;,&quot;18&quot;,null,null,null,null,null,null,null,null],[&quot;BMW&quot;,&quot;8&quot;,&quot;320&quot;,&quot;22&quot;,null,null,null,null,null,null,null,null],[null,null,null,null,null,null,null,null,null,null,null,null]],&quot;settings&quot;:&quot;dummy&quot;}"> \n <table class="rsCalcTable"> \n  <thead> \n   <tr> \n    <th>&nbsp;</th> \n    <th scope="col">A</th> \n    <th scope="col">B</th> \n    <th scope="col">C</th> \n    <th scope="col">D</th> \n    <th scope="col">E</th> \n    <th scope="col">F</th> \n    <th scope="col">G</th> \n    <th scope="col">H</th> \n    <th scope="col">I</th> \n    <th scope="col">J</th> \n    <th scope="col">K</th> \n    <th scope="col">L</th> \n   </tr> \n  </thead> \n  <tbody> \n   <tr> \n    <th scope="row">1</th> \n    <td>Car</td> \n    <td>Cylinders</td> \n    <td>HP</td> \n    <td>mpg</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">2</th> \n    <td>Ford</td> \n    <td>2</td> \n    <td>45</td> \n    <td>45</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">3</th> \n    <td>Vauxhall</td> \n    <td>6</td> \n    <td>235</td> \n    <td>34</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">4</th> \n    <td>Skoda</td> \n    <td>6</td> \n    <td>170</td> \n    <td>41</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">5</th> \n    <td>Mercedes</td> \n    <td>8</td> \n    <td>340</td> \n    <td>25</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">6</th> \n    <td>Ferrari</td> \n    <td>12</td> \n    <td>600</td> \n    <td>18</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">7</th> \n    <td>BMW</td> \n    <td>8</td> \n    <td>320</td> \n    <td>22</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n   <tr> \n    <th scope="row">8</th> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n    <td>&nbsp;</td> \n   </tr> \n  </tbody> \n </table> \n</div> \n<table class="dataframe" border="1"> \n <thead> \n  <tr style="text-align: right;"> \n   <th>&nbsp;</th> \n   <th>0</th> \n   <th>1</th> \n   <th>2</th> \n   <th>3</th> \n  </tr> \n </thead> \n <tbody> \n  <tr> \n   <th>count</th> \n   <td>7</td> \n   <td>7</td> \n   <td>7</td> \n   <td>7</td> \n  </tr> \n  <tr> \n   <th>unique</th> \n   <td>7</td> \n   <td>5</td> \n   <td>7</td> \n   <td>7</td> \n  </tr> \n  <tr> \n   <th>top</th> \n   <td>Ford</td> \n   <td>6</td> \n   <td>340</td> \n   <td>25</td> \n  </tr> \n  <tr> \n   <th>freq</th> \n   <td>1</td> \n   <td>2</td> \n   <td>1</td> \n   <td>1</td> \n  </tr> \n </tbody> \n</table>\n<table border="1" class="dataframe"> \n <thead> \n  <tr style="text-align: right;"> \n   <th></th> \n   <th>0</th> \n   <th>1</th> \n   <th>2</th> \n   <th>3</th> \n  </tr> \n </thead> \n <tbody> \n  <tr> \n   <th>count</th> \n   <td>7</td> \n   <td>7</td> \n   <td>7</td> \n   <td>7</td> \n  </tr> \n  <tr> \n   <th>unique</th> \n   <td>7</td> \n   <td>5</td> \n   <td>7</td> \n   <td>7</td> \n  </tr> \n  <tr> \n   <th>top</th> \n   <td>Mercedes</td> \n   <td>6</td> \n   <td>170</td> \n   <td>34</td> \n  </tr> \n  <tr> \n   <th>freq</th> \n   <td>1</td> \n   <td>2</td> \n   <td>1</td> \n   <td>1</td> \n  </tr> \n </tbody> \n</table>',
   'files': [{'id': 31576,
     'globalId': 'GL31576',
     'name': 'ExampleInstrumentData.csv',
     'caption': 'BioRad Spectrophotmeter: run #1234 ',
     'contentType': 'text/csv',
     'created': '2021-06-07T14:19:29.829Z',
     'size': 44534,
     'version': 1,
     '_links': [{'link': 'https://pangolin8085.researchspace.com/api/v1/files/31576',
       'rel': 'self'},
      {'link': 'https://pangolin8085.researchspace.com/api/v1/files/31576/file',
       'rel': 'enclosure'}]}],
   '_links': []}],
 '_links': [{'link': 'https://pangolin8085.researchspace.com/api/v1/documents/31577',
   'rel': 'self'}]}