In [8]:


import sys
sys.path.insert(0,"/Users/richard/git/rspace-client-python")
API_KEY="UEE2WAODi7KYVKCk2OrWhPCkWTpxP95o"
URL="https://pangolin8085.researchspace.com"

In [23]:

import rspace_client
## configure client from environment variables or local credentials file
api = rspace_client.Client(URL, API_KEY)

## gleaned from the UI, or search
fileId = 31580
file_name = api.get_file_info(fileId)['name']

## retrieve from RSpace - either as file or into a stream
spectro_results = api.download_file(fileId, file_name)

In [37]:
import pandas as pd;
df = pd.read_csv(file_name)
##....analyse the data
summary_stats = df.describe()
summary_stats.head()

,ExperimentId,A,B,C,D,E,F
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,500.500000,499.142340,504.206020,496.99026,502.434110,474.802570,495.593830
std,288.819436,288.785504,283.224643,286.03346,293.842484,287.601992,284.256028
min,1.000000,2.960000,2.980000,1.82000,1.370000,1.860000,5.510000
25%,250.750000,256.720000,263.012500,254.80500,244.085000,217.350000,240.355000

In [34]:
## and upload 
summary_stats_csv = f'{file_name[:file_name.rindex(".")]}-summarystats.csv'
summary_stats.to_csv(summary_stats_csv)
uploaded = api.upload_file(summary_stats_csv)
print(f"uploaded id = {uploaded['id']}")

uploaded id = 31581